<h1>Lista de Productos</h1>
<!-- Enlaces para navegación -->
<a href="/realtimeproducts">Real time products...</a>
<a href="/api/products">products</a>
<a href="/api/carts">Carts</a>
<a href="/">Home</a>

<!-- Formulario de Filtros -->
<form id="filterForm" method="GET" action="/">
    <label for="category">Categoría:</label>
    <select name="category" id="category">
        <option value="">Todas</option>
        {{#each categories}}
        <option value="{{this}}">{{this}}</option>
        {{/each}}
    </select>

    <label for="sort">Ordenar por:</label>
    <select name="sort" id="sort">
        <option value="asc">Ascendente</option>
        <option value="desc">Descendente</option>
    </select>

    <button type="submit">Filtrar</button>
</form>

<!-- Mensaje de error -->
{{#if error}}
<div class="error-message">{{error}}</div>
{{/if}}

<!-- Lista de Productos -->
<ul id="productsList">
    {{#each products}}
    <li>
        <div class="cat">{{category}}</div>
        <div class="product-title">{{title}}</div>
        <div class="product-price">Precio: ${{price}}</div>
        <a href="/api/products/{{_id}}">Ver Detalles</a>
        <form action="/api/carts/{{cartId}}/products/{{_id}}" method="POST">
            <label for="cartId">Seleccionar Carrito:</label>
            <select name="cartId" id="cartId">
                {{#each carts}}
                <option value="{{this._id}}">{{this._id}}</option>
                {{/each}}
            </select>
            <button type="submit">Agregar al Carrito</button>
        </form>
    </li>
    {{/each}}
</ul>

<nav>
    {{#if prevLink}}
    <a href="{{prevLink}}">« Página Anterior</a>
    {{/if}}

    <span>{{page}} de {{totalPages}}</span>

    {{#if nextLink}}
    <a href="{{nextLink}}">Página Siguiente »</a>
    {{/if}}
</nav>