<h1>Lista de Productos en Tiempo Real</h1>
<nav>
    {{#if prevLink}}
    <a href="{{prevLink}}">« Página Anterior</a>
    {{/if}}

    <span>{{page}} de {{totalPages}}</span>

    {{#if nextLink}}
    <a href="{{nextLink}}">Página Siguiente »</a>
    {{/if}}
</nav>
<ul id="productsList">
    {{#each products}}
    <li>
        <div class="cat">{{category}}</div>
        <div class="product-title">{{title}}</div>
        <div>{{description}}</div>
        <div class="product-price">Precio: ${{price}}</div>
        <a href="/api/products/{{_id}}">Ver Detalles</a>
        <button onclick="deleteProduct('{{_id}}')">Eliminar</button>
    </li>
    {{/each}}
</ul>

<!-- Formulario para agregar un nuevo producto -->
<form id="productForm">
    <input type="text" id="title" placeholder="Título del producto" required>
    <label for="category">Categoría:</label>
    <select name="category" id="category" required>
        {{#each categories}}
        <option value="{{this}}">{{this}}</option>
        {{/each}}
    </select>
    <input type="number" id="price" placeholder="Precio del producto" required>
    <button type="submit">Agregar Producto</button>
</form>
<a href="/api/products">products</a>
<a href="/api/carts">Carts</a>
<a href="/">Home</a>